/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.editToDoPanel {
	padding: 10px;
	border-spacing: 10px;
}

.bold {
	font-weight: bold;
}

.toDoGridHeader {
	background-color: blue;
	font-weight: bold;
	color: yellow;
}

.toDoGrid tr:nth-child(even) {
	background-color: #f2f2f2;
}